<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport'
          content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <title>Выбор времени для созвона</title>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
          integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
          crossorigin='anonymous'>
</head>
<body>
  <div class='container mt-5'>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <p>Привет, {{ name }}</p>
    <p>
      В какие из этих слотов сможешь созвониться?

      Наиболее удобное время (*время московское):
    </p>
    <form action='/to_project/{{ project_id }}/{{ user_id }}/{{ error_id }}' method='post'>
      {% csrf_token %}
      {% for available_slot in available_slots %}
        <ul id="id_best_time_slots">
          <li>
            <label for="id_best_time_slots_{{available_slot.id}}">
              <input id="id_best_time_slots_{{available_slot.id}}" type="radio" name="best_time_slots" value="{{available_slot.id}}">{{ available_slot.start_time }}
            </label>
          </li>
        </ul>
      {% endfor%}
        <input type='submit' value='Отправить' class='btn btn-primary'>
    </form>
  </div>
</body>
</html>