<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport'
          content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <title>Спасибо</title>
    <link rel='stylesheet'
          href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
          integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
          crossorigin='anonymous'>
</head>
<body>
<div class='container'>
    <div class="col align-items-center" style="margin-top: 10%;">
        <div class="alert alert-success" role="alert">
            <p>Выбранный тобой временной слот отправлен на сервер.</p>
            <p>Ожидай формирования группы</p>
        </div>
    </div>
</div
</body>
</html>